<%= provide(:title,  "Contact") %>

<main class="container">

  <h1><%= link_to '[−]', root_url %></h1>

  <section class="static">
    <h2>
      Contact
    </h2>
    <article>
      Super easy.</br></br>
      Shoot me a tweet or DM on Twitter <a href="https://twitter.com/realalexheil">@RealAlexHeil</a> and we will go from there.</br></br>
    </article>
  </section>
</main>
