<div class="background">

<div class="home-site-title">
  <%= link_to '[sicamad]', categories_path %>
</div>
<div class="home-site-tagline">
  sick, amazing deals [−]
</div>

<footer class="home-footer">
  <nav>
    <ul>
      <li><%= link_to 'categories', categories_path %></li>
      <% if user_signed_in? %>
      <% else %>
        <li><%= link_to 'sign in', new_user_session_path %></li>
        <li><%= link_to 'register', new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</div>
