<%= provide(:title,  "Privacy Policy") %>


<main class="container">

  <h1><%= link_to '[−]', root_url %></h1>

  <section class="static">
    <h2>
      Privacy Policy
    </h2>
    <article>
      <strong>Effective Date:</strong> <i>October 3rd, 2015</i></br></br>

      Sicamad.com (possibly later referred to as “Site”, “Website”, “I”, “Company”) believes in privacy.

      So read on. The following is Sicamad's privacy policy and is what I do to protect your privacy on this Site.

      <h3>I, personally, do not collect your private information</h3>

      But third parties might!

      Third parties that have access to this Site, such as analytics providers (Google analytics, gotta see those stats, baby), collect and store information automatically whenever you visit one of the pages on this Site, or use any of the services this Site provides. alexheil.rocks automatically sees, collects, and records information on our server logs such as IP address, cookie information, and the page you have requested.

      I will never ask for your credit card information, bank account information, or any private financial information in general, so please never input any of that top secret stuff into any forms on this Site.

      <h3>I, personally, do not use cookies</h3>

      But third parties might!

      Third party analytics providers (Google Analytics) will place or recognize a cookie on your browser.

      <h3>I link to external sites!</h3>

      This site links to Amazon.com only. I'm not responsible for external site's privacy policies and you need to consult their privacy policy if you are concerned.

      <h3>You don't post anything on my site</h3>

      Enough said there.

      <h3>Excuse this next paragraph UNLESS you are a child under 13 or if you are not visiting from the United States of America.</h3>

      Sicamad.com does not knowingly collect, use, maintain, gather, preserve, assemble, or retain any personal information from anyone under the age of 13. No part of this Site is for anyone under the age of 13. Please get the heck out if you are under 13.

      If you are visiting this Site from a country other than the United States of America with different data collection and privacy laws than the data collection and privacy laws of the United States of America, please be aware that you are transferring your data to the United States of America. By providing your information you consent to any transfer and processing in accordance with this Privacy Policy.

      <h3>If this privacy policy changes...</h3>

      …the date at the top of this page will change. Please check back regularly in order to be completely knowledgeable about my privacy policy. Anyone who used this Site prior to the date at the top of this page is subject to the laws and guidelines at the time the information was collected.

      Your continued use of this Site means that you agree and fully understand what’s going on in the revised, updated version of the Privacy Policy.

      Oh, and guess what?

      I reserve the right to change this Privacy Policy at any time. At any minute, any day, any second, any hour this policy can be changed by me, myself, and I. </br></br>
    </article>
  </section>
</main>
