<footer>
  <nav>
    <ul>
      | <li><%= link_to 'home', root_url %></li> |
      <li><%= link_to 'privacy', privacy_path %></li> |
      <li><%= link_to 'contact', contact_path %></li> |
  </nav>
</footer>
<% if admin_signed_in? %>
<center>hi alex</center>
<% end %>
